* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  font-size: 16px;
  overflow-x: auto;
  overflow-y: auto;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
}

.world-map {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100vw;
  height: 100vh;
}

path {
  fill: #c3c3c3;
  stroke: #111;
  transition: 100ms;
}

.side-panel .container {
  padding-block: 2em;
  transition: 200ms ease-out;
}

.side-panel-open {
  right: 0;
}
.hide {
  opacity: 0;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
  border: none;
  background-color: #333;
  color: #f0f0f0;
  cursor: pointer;
  transition: 100ms;
}

.close-button i {
  font-size: 2em;
}

.close-button:hover {
  background-color: #555;
}

.zoom-controls {
  position: fixed;
  top: 1em;
  left: 1em;
}

.zoom-controls button {
  display: block;
  width: 1.5em;
  height: 1.5em;
  border: 1px #111 solid;
  background-color: #333;
  color: #f0f0f0;
  cursor: pointer;
  font-size: 2em;
}

.zoom-controls button:hover {
  background-color: #555;
}

button:disabled {
  background-color: #222;
  color: #c0c0c0;
  cursor: default;
  border: 1px #111 solid;
}

button:disabled:hover {
  background-color: #222;
}

.zoom-out {
  margin-bottom: 10px;
}

.hovered {
  fill: #727272 !important;
}

.selectable {
  cursor: pointer;
  fill: rgb(37, 150, 190);
}
